body{
    font-size: 20px!important;
}
body h1{
    font-size: 3em;
}

body h3{
    font-size: 2em;
}
#conteudo {
    background-color: rgba(20, 30, 40, 0.2);
    border-radius: 3%;
    width: 95%;
    margin: auto;
    box-shadow: 9px 7px 12px 0px #0000003b;
    background-image: linear-gradient(-35deg, rgba(0, 123, 255, 0.25), #17a2b8);
}

header {
    background-image: linear-gradient(360deg, #17a2b800, #6317b873);
    font-family: 'Quicksand', sans-serif;
}

#Home {
    padding: 10px;
    background-color: #e9ecef9e;
    margin: 50px 5px;
    border-radius: 8px;
    box-shadow: 8px 2px 3px #6c757d1a;
    opacity: 0.8;
}

#formac {
    padding: 10px;
    background-color: #e9ecef9e;
    margin: 50px 5px;
    border-radius: 8px;
    box-shadow: 8px 2px 3px #6c757d1a;
    opacity: 0.8;
}

#contato {
    /* FONT-WEIGHT: 200; */
    /* padding: 10px; */
    margin: 20px 5px;
    border-radius: 8px;
    max-width: 99%;
    opacity: 0.8;


}

#contato h3 {
    color: black;
}

#habilidades {
    border-radius: 8px;
    box-shadow: 8px 2px 3px #6c757d1a;
}

#formac h3,
#contato h3 {
    position: relative;
    margin: -31px 0px 0px 0px !important;
}

#Home h3 {
    position: relative;
    margin: -11px 0px 0px 0px;

}

strong {
    color: #2a464afa;
}

#foto-igor {
    width: 159px;
    margin: 10px;
    vertical-align: middle;
    border: solid 1px #117a8b;
    box-shadow: 5px 2px 11px 0px #00000066;
    margin-top: 50px;
}

.bg-light {
    background-color: #bed5ff !important;
}

.primary-section {
    background: no-repeat;
}

.section .container {
    padding-top: 0px;
}

.container {
    width: 2000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#about {
    max-width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

.skills li {
    margin-bottom: 30px;
    background: #ffffff73;
    height: 40px;
    padding: 0px;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 12px #545b628a;
}

.skills li .bar {
    height: 40px;
    position: absolute;
    background-image: linear-gradient(-35deg, #fece1af5, #0088cc);
}

.section {
    padding-bottom: 0px;
}

h2 {
    color: black;
}

.first-box {
    padding: 10px;
    background: #9eaadc;
}

.second-box {
    padding: 10px;
    background: #69a6d0;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 45px;
}